.about-container {
  display: flex;
  flex-direction: column; /* Adjust to column direction on smaller screens */
  align-items: center;
  padding: 20px;
}

.about-image img {
  width: 100%; /* Use 100% width for responsive images */
  height: auto; /* Maintain aspect ratio */
}

.about-image figcaption {
  margin-top: 10px; /* Increase the spacing between the image and caption */
  text-align: center; /* Center the caption */
  font-size: small;
}

.about-me {
  max-width: 100%; /* Utilize the full width on smaller screens */
  margin: 20px 0; /* Adjust the margin for better spacing */
}

/* Example of a media query for screens with a width of 768px and above */
@media (min-width: 768px) {
  .about-container {
    flex-direction: row; /* Switch back to row direction for larger screens */
  }

  .about-me {
    max-width: 50%; /* Maintain the 50% width for larger screens */
    margin: 20px; /* Adjust margin as needed */
  }
}
