.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.about-image {
  display: flex;
  flex-direction: column; /* Adjust to column direction */
}

.about-image img {
  width: 420px;
  height: auto; /* Ensure the image maintains its aspect ratio */
}

.about-image figcaption {
  margin-top: 5px; /* Adjust the spacing between the image and caption */
  text-align: end;
  font-size: small;
}

.about-me {
  max-width: 50%;
  margin: 20px;
}
