.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.about-image {
  display: flex;
  height: 500px;
}

.about-me {
  max-width: 50%;
  margin: 20px;
}
