<div class="footer">
  <div class="footer-item">
    <a href="mailto:samgeeav@gmail.com">
      <i class="fas fa-envelope"></i>
    </a>
  </div>
  <div class="footer-item">
    <p>Made with <i class="fa-solid fa-heart"></i>by Lewis Hollis</p>
  </div>
 <%# <div class="footer-item">
    <a href="https://facebook.com/yourpage" target="_blank">
      <i class="fab fa-facebook"></i>
    </a>%>
    <div class="footer-item">
    <a href="https://www.instagram.com/samgeeanimation" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</div>
