<div class="footer">
  <div class="footer-item">
    <i class="fas fa-envelope fa-sm"></i>
  </div>
  <div class="footer-item">
    <i class="fa-solid fa-heart"></i>
    <p>Made with by Lewis Hollis</p>
  </div>
  <div class="footer-item">
    <i class="fab fa-facebook fa-sm"></i>
    <i class="fab fa-twitter fa-sm"></i>
    <i class="fab fa-instagram fa-sm"></i>
  </div>
</div>
