<div class="about-container">
   <figure class="about-image">
        <%= image_tag "camels.webp", alt: "About Me Image" %>
        <figcaption>Circa 2019 Sam was attacked by camels</figcaption>
    </figure>
    <div class="about-me">
        <h6>
            A director, motion designer, illustrator and ideas guy. Sam will elevate the visuals you have in mind, capture the narrative and be super chill whilst doing so.
            <br>
            <br>
            <br>
            His works are led by his dedication to Humanitarianism. They are bold and purposeful. Striving to match cause with aesthetics, Sam's work calls people to action.
            Get in touch for future projects.
            <br>
            <br>
            <br>
            Rates are lowered for charitable orgs. ✌️
            <br>
            <br>
            Samgeeav@gmail.com
        </h6>
    </div>
</div>
