<div class="gallery">
  <% Dir.glob(Rails.root.join('app/assets/images/uploads/*.{png,jpg,jpeg,gif}')).each_with_index do |image_path, index| %>
    <div class="item gallery__item gallery__item--<%= index + 1 %>">
      <%= image_tag image_path.sub("#{Rails.root.join('app/assets/images/')}", ''), class: 'gallery-media gallery__media', alt: "Image #{index + 1}" %>
    </div>
  <% end %>

  <% Dir.glob(Rails.root.join('app/assets/images/uploads/*.mp4')).each_with_index do |video_path, index| %>
    <div class="item gallery__item gallery__item--<%= index + 100 %>">
      <%= video_tag video_path.sub("#{Rails.root.join('app/assets/images/')}", ''), class: 'gallery-media gallery__media', controls: true %>
    </div>
  <% end %>
</div>
