<!-- app/views/pages/home.html.erb -->
<div class="row">
  <% if @images.present? %>
    <% @images.each do |image| %>
      <div class="col-md-6 mb-4">
        <div class="card">
          <%= image_tag image.image_file.variant(resize: '300x300') %>
          <div class="card-body">
            <h5 class="card-title"><%= image.title %></h5>
            <p class="card-text"><%= image.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No images available</p>
  <% end %>
</div>
