  <% image_data = [
    { path: 'uploads/1 Teamwork Skills.png', title: 'Teamwork Skills', icons: ['Animation-01.svg', 'illustration-01.svg'] },
    { path: 'uploads/2 Black Lives Matter (1).png', title: 'Black Lives Matter', icons: 'Animation-01.svg' },
    { path: 'uploads/3 Banana Split (1).png', title: 'Banana Split', icons: 'Animation-01.svg' },
    { path: 'uploads/4 Coaching _ Mentoring.png', title: 'Coaching & Mentoring', icons: ['Animation-01.svg', 'illustration-01.svg'] },
    { path: 'uploads/5 rdt (1).png', title: 'RDT', icons: 'Animation-01.svg' },
    { path: 'uploads/6 St Patricks (1).png', title: 'St Patricks Day', icons: 'Animation-01.svg' },
    { path: 'uploads/7 Autism Awareness.png', title: 'Autism Awareness', icons: 'Animation-01.svg' },
    { path: 'uploads/8 Valentines Day (1).png', title: 'Valentines Day', icons: 'Animation-01.svg' },
    { path: 'uploads/9 Managing Contractors.png', title: 'Managing Contractors', icons: 'Animation-01.svg' },
    { path: 'uploads/10 Manual Handing People.png', title: 'Manual Handing', icons: 'Animation-01.svg' },
    { path: 'uploads/11 Decision Making.png', title: 'Decision Making', icons: 'Animation-01.svg' },
    { path: 'uploads/12 Cyber Security.png', title: 'Cyber Security', icons: 'Animation-01.svg' },
    { path: 'uploads/13 DHL (1).png', title: 'DHL', icons: 'Animation-01.svg' },
    # Add more entries as needed
  ] %>



  <div class="custom-gallery">
    <% image_data.each_with_index do |data, index| %>
      <div class="custom-gallery__item row<%= (index % 2) + 1 %> col<%= (index % 2) + 1 %>">
        <%= image_tag data[:path], class: 'custom-gallery-media', alt: "Image #{index + 1}" %>
      </div>
    <% end %>
  </div>
