.footer {
  display: flex;
  position: fixed !important;
  background-color: rgb(255, 244, 244);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px; /* Adjust padding as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-item {
  flex-basis: calc(33.33% - 20px);
  margin-right: 10px;
  text-align: center;
  padding-top: 10px;
}

.footer-item a {
  color: black;
}

.footer-item p {
  font-size: 10px;
}

.footer-item:last-child {
  margin-right: 0;
}

.footer-item i {
  margin-right: 5px;
}
