.footer {
  display: flex;
  background-color: rgb(244, 242, 242);
  width: 100%;
  position: static;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.footer-item {
  flex-basis: calc(33.33% - 20px);
  text-align: center;
}

.footer-item a {
  color: black;
}

.footer-item p {
  margin: 0px;
  font-size: 10px;
}

.footer-item:last-child {
  margin-right: 0;
}

.footer-item i {
  margin-right: 5px;
}
