.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.navbar-lewagon .navbar-nav .nav-item {
  margin-right: 15px; /* Adjust the margin as needed */
}

/* Remove margin from the last nav-item to prevent extra space */
.navbar-lewagon .navbar-nav .nav-item:last-child {
  margin-right: 0;
}
